# Dominik Żurek
## laboratorium 2

In [2]:
surname = 'Żurek'
print(f'Analizowany zbiór danych = {len(surname) % 5 + 1}')

Analizowany zbiór danych = 1

In [21]:
import os 
import re

# not the best way to grab that data but it will do for now
go_up_by = len('command_files')
original_data_filepath = os.getcwd()[:-go_up_by] + 'original_data/weather.txt'
cut_data_filepath = os.getcwd()[:-go_up_by] + 'analysis_data/cut_weather.txt'

# cut the data to the part we are interested in (5 months in 2010)
interesting_data_id_pattern = r'MX0000170042010[01][0-9][A-Z]{4}'
cut_data = ""
with open(original_data_filepath, 'r') as f:
    for line in f.readlines():
        if re.findall(interesting_data_id_pattern, line):
            cut_data += line

# save the narrowed data  
with open(cut_data_filepath, 'w') as f:
    f.write(cut_data)

In [57]:
import numpy as np
import pandas as pd
# read the narrowed data and create a pandas dataframe
base = 'MX000017004201001TMAX'
ID = 'MX000017004'
numerical_data_pattern = '[0-9]+'

column_names = ["id", "date", "variable name", "value"]
data_structure = []

with open(cut_data_filepath, 'r') as f:
    for line in f.readlines():
        
        year = line[len(ID):len(ID)+4]
        month = line[len(ID)+4:len(ID)+6]
        var_name = line[len(ID)+6:len(ID)+10]
        
        daily_data_part = line[len(base):]
        
        for i, numerical_value in enumerate(re.findall(numerical_data_pattern, daily_data_part)):
            date = f'{year}-{month}-{i+1}'
            if numerical_value != '9999':
                data_structure.append([ID, date, var_name, numerical_value])
            else:
                data_structure.append([ID, date, var_name, np.NaN])

# I'm just looking up how's my data tiding going
df = pd.DataFrame(data_structure, columns=column_names)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

            id        date variable name value
0  MX000017004  2010-01-30          TMAX   278
1  MX000017004  2010-01-30          TMIN   145
2  MX000017004   2010-01-5          PRCP     0
3  MX000017004   2010-01-7          PRCP     0
4  MX000017004  2010-01-12          PRCP     0

KeyError: 'value'