In [3]:
import pandas as pd
from dataclasses import dataclass
from typing import List

@dataclass
class Product:
    name: str
    weight: int

def multiple_products_from_str(str_list: str) -> List[Product]:
    str_list = str_list[1:-1].split(',') # usuniecie '[' i ']'
    products = []
    for i in range(0, len(str_list), 2):
        name = str_list[i]
        weight = int(str_list[i+1])
        products.append(Product(name, weight))
    return products


df = pd.read_csv('dania.csv', sep=';')

lista_skladnikow = df['Skład'].values[0]
skladniki = multiple_products_from_str(lista_skladnikow)
for skladnik in skladniki:
    print(skladnik)

Product(name='Wędlina', weight=100)
Product(name='Ser', weight=20)

In [4]:
df

     Nazwa                  Skład  Kalorie  Białko  Tabu  Punkty
0  Kanapki   [Wędlina,100,Ser,20]     1000     400     0       1
1    Wódka  [Woda,300,Etanol,200]     1000     400     0       1

In [7]:
df.loc[df['Nazwa'] == 'Wódka']

   Nazwa                  Skład  Kalorie  Białko  Tabu  Punkty
1  Wódka  [Woda,300,Etanol,200]     1000     400     0       1